{% load i18n %}{% load url from future %}{% load staticfiles %}<!DOCTYPE html>
<html lang=en>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="handheldFriendly" content="true">
    <link rel="icon" href="/favicon.ico">
    <title>rphl.net</title>
    <link href="{% static 'vendor/font-awesome/4.2.0/css/font-awesome.min.css' %}" rel="stylesheet">
  </head>
  <body>
  <div style="position:fixed;top:50%;left:50%;transform:translate(-50%,-50%);">
    <a href="listen" style="color:#FFF"><i class="fa fa-volume-up fa-3x"></i></a>
  </div>
    <script src="{% static 'vendor/jquery/2.1.1/jquery-2.1.1.min.js' %}"></script>
    <script src="{% static 'vendor/jquery-backstretch/2.0.4/jquery.backstretch.min.js' %}"></script>
  <script>
    (function($){
      $(window).load(
        function(){
          console.log('\n                          ___        ____\n                         /   \\      /   /\n      ________ _______  /    /___  /   /                     ___\n     /        /       \\/         \\/   /       ______  ____  /  /_\n    /     ___/__      /    _     /   /       /  __  \\/ _  \\/  __/\n   /    /   ___/     /    / /   /    \\__ __ /  / /  / ____/  /\n   \\___/   /     ___/\\___/  \\__/\\______//_//__/ /__/\\_____\\___\\\n          /    /\n          \\___/                            https://www.rphl.net/\n\n');
          $.backstretch("{% static 'nickelodeon/wallpaper.jpg' %}");
        });
    })(jQuery);
  </script>
 </body>
</html>
