{% extends 'site_base.html' %}
{% load i18n %}
{% load url from future %}

{% block body %}
<div class="row">
  <div class="col-md-12">
      <button id="prev_button" class="btn btn-default">
          <i class="fa fa-backward"></i>
      </button>
      <button id="play_pause_button" class="btn btn-default">
          <i class="fa fa-play"></i>
      </button>
      <button id="next_button" class="btn btn-default">
          <i class="fa fa-forward"></i>
      </button>
      <button id="search_button" class="btn btn-default">
          <i class="fa fa-search"></i>
      </button>
      <kbd id="current_format_display"></kbd>
      <kbd id="current_song_display"></kbd>
  </div>
  <div class="col-md-12">
      <div id="search_results_navigation_top"></div>
      <table class="table table-striped" id="search_results_table">
      </table>
      <div id="search_results_navigation_bottom"></div>
  </div>
</div>
{% endblock %}


{% block extra_script %}
<script src="{{STATIC_URL}}jStorage/0.4.4/jstorage.min.js"></script>
<script>
(function($, SM2_URL, SONGS_API_URL){
  var escapeHTML = function(unsafe) {
    return unsafe.replace(/&/g, "&amp;")
                 .replace(/</g, "&lt;")
                 .replace(/>/g, "&gt;")
                 .replace(/"/g, "&quot;")
                 .replace(/'/g, "&#039;");
  };
  var loadSoundManager = function(sm2_url, onReadyCallback){
    var sm2_swf_path = sm2_url + 'swf/',
        sm2_js_path = sm2_url + 'script/soundmanager2-nodebug-jsmin.js';
    var options = {
      url: sm2_swf_path,
      useHighPerformance: true,
      useHTML5Audio: true,
      preferFlash: true,
      flashVersion: 9,
      flashPollingInterval: 100,
      debugMode: true,
      onready: onReadyCallback,
      ontimeout: function() {}
    };
    if(typeof soundManager !== "undefined"){
      soundManager.reset();
      soundManager.setup(options);
    } else {
      $.getScript(
        sm2_js_path,
        function(){
          soundManager.setup(options);
        }
      );
    }
  };

  $(window).load(function(){
    loadSoundManager(SM2_URL, function(){
      var PLAYING = 1;
      var PAUSED = 0;
      var HISTORY_MAX_LENGTH = 10;
      var SEARCH_RESULTS_PER_PAGE = 100;
      var playing_status = PAUSED;
      var stopping_after_current = false;
      var song_count = 0;
      var current_index = 1;
      var current_song_data = null;
      var play_history = [];
      var play_queue = [];

      var save_state = function(){
        $.jStorage.set('nickelodeon_playing_status',
                       JSON.stringify(playing_status));
        $.jStorage.set('nickelodeon_current_song_data',
                       JSON.stringify(current_song_data));
        $.jStorage.set('nickelodeon_song_count',
                       JSON.stringify(song_count));
        $.jStorage.set('nickelodeon_current_index',
                       JSON.stringify(current_index));
        $.jStorage.set('nickelodeon_stopping_after_current',
                       JSON.stringify(stopping_after_current));
        $.jStorage.set('nickelodeon_play_history',
                       JSON.stringify(play_history));
        $.jStorage.set('nickelodeon_play_queue',
                       JSON.stringify(play_queue));               
      };

      var load_state = function(){
        playing_status = parseInt($.jStorage.get('nickelodeon_playing_status', PAUSED));
        current_index = $.jStorage.get('nickelodeon_current_index', 1);
        current_index = parseInt(current_index);
        if(current_index<1){
          current_index = 1;
        }
        song_count = $.jStorage.get('nickelodeon_song_count', 0);
        song_count = parseInt(song_count);
        current_song_data = JSON.parse($.jStorage.get('nickelodeon_current_song_data', "null"));
        stopping_after_current = $.jStorage.get('nickelodeon_stopping_after_current', false);
        if (stopping_after_current == "false"){
          stopping_after_current = false;
        } else if(stopping_after_current == "true"){
          stopping_after_current = true;
        }
        play_queue = JSON.parse($.jStorage.get('nickelodeon_play_queue', '[]'));
        play_history = JSON.parse($.jStorage.get('nickelodeon_play_history', '[]'));
      };
      
      var push_to_queue = function(value){
        play_queue.push(value);
        save_state();
      };

      var shift_queue = function(){
        var value = play_queue.shift();
        save_state();
        return value;
      };

      var push_to_history = function(value){
        play_history.push(value);
        while(play_history.length > HISTORY_MAX_LENGTH){
          play_history.unshift()
        }
        save_state();
      };

      var pop_history = function(){
        var value = play_history.pop();
        save_state();
        return value;
      };
      
      var play_song = function(song_data){
        var format, type, title;
        auto_play = (playing_status==PLAYING)?true:false;
        stop_song();
        playing_status = auto_play?PLAYING:PAUSED;
        save_state()
        if(song_data.availability['aac']){
            format = 'aac'
            type = 'audio/aac'
        } else if(song_data.availability['mp3']){
            format = 'mp3'
            type = 'audio/mpeg'
        }else{
            play_next_song();
            return;
        }
        soundManager.createSound({
            id: song_data.uuid,
            url: song_data.download_url+'.'+format,
            volume: 100,
            autoPlay: auto_play,
            type: type,
            multiShot:false,
            onfinish:function(){
              if(stopping_after_current){
                stopping_after_current = false;
                playing_status = PAUSED;
                play_song(current_song_data);
                save_state();
                return
              }
              push_to_history(current_song_data);
              play_next_song();
            },
        });
        if(song_data.artist){
            title = [song_data.artist, song_data.title].join(" - ")
        } else {
            title = song_data.title
        }
        $('#current_song_display').text(title);
        $('#current_format_display').text(format);
      };
      
      var stop_song = function(){
        soundManager.stopAll();
        while(soundManager.soundIDs.length>0){
            soundManager.destroySound(soundManager.soundIDs[0]);
        }
        playing_status = PAUSED;
        save_state();
      };
      
      var play_next_song = function(){
        stop_after_current = false;
        if(play_queue.length>0){
          var next_song = shift_queue();
          current_song_data = next_song;
          play_song(next_song);
          return;
        }
        current_index = Math.floor(Math.random()*song_count)+1;
        save_state();
        get_current_info(function(){
          play_song(current_song_data);
        });
      };
      
      var toggle_play = function(){
        var sound_id = soundManager.soundIDs[0];
        var sound = soundManager.getSoundById(sound_id)
        if(sound){
          var is_playing = !sound.paused && sound.playState!=0;
          playing_status = is_playing?PAUSED:PLAYING;
        }
        soundManager.togglePause(sound_id);
        save_state();
      };
      
      var get_current_info = function(callback){
        $.ajax({
          type: "GET",
          url: SONGS_API_URL,
          data: {'results_per_page': 1, 'page': Math.max(1, current_index)},
          dataType: "JSON",
          success: function(response){
              song_count = response.count;
              if(song_count > 0){
                  current_song_data = response.results[0];
                  save_state();
                  callback();
              }
          },
          error: function(){
            console.log('AJAX failure...')          
          }
        });
      };

      var search = function(search_query, page){
        page = page || 1
        if(search_query){
            $.ajax({
                type:"GET",
                url:SONGS_API_URL,
                data:{
                    'q':search_query,
                    'page':Math.max(page, 1),
                    'results_per_page': SEARCH_RESULTS_PER_PAGE
                },
                dataType:"JSON",
                success:on_search_results,
                error:function(){
                }
            });
        }
      };
      var extract_search_query_from_link = function(link){
        var query_re = /(\?|&)q=([^&]+)/;
        var matches = link.match(query_re)
        if(matches){
          return matches[2]
        }
        return ''
      };

      var extract_page_from_link = function(link){
        var page_re = /(\?|&)page=([\d]+)/;
        var matches = link.match(page_re)
        if(matches){
          return matches[2]
        }
        return 1
      };

      var on_search_results = function(response){
        var results = response.results;
        var search_query = '';
        var page = 1;
        var current_page = 1;
        $('#search_results_navigation_top').html('');
        $('#search_results_navigation_bottom').html('');
        $('#search_results_table').html('');
        if(response.previous){
          search_query = extract_search_query_from_link(response.previous);
          page = extract_page_from_link(response.previous);
          current_page = parseInt(page)+1;
          var top_btn = $('<button>').addClass('btn btn-default')
                        .attr('href', '#')
                        .on('click', (function(q, p){
                          return function(e){
                            e.preventDefault();
                            search(q, p);
                          }
                        })(search_query, page))
                        .append($('<i>').addClass('fa fa-angle-double-left'))
                        .appendTo($('#search_results_navigation_top'))
          var bottom_btn = top_btn.clone(true, true)
                           .appendTo($('#search_results_navigation_bottom'));
        }
        if(response.next){
          search_query = extract_search_query_from_link(response.next);
          page = extract_page_from_link(response.next);
          current_page = parseInt(page)-1;
          var top_btn = $('<button>').addClass('btn btn-default')
                        .attr('href', '#')
                        .on('click', (function(q, p){
                          return function(e){
                            e.preventDefault();
                            search(q, p);
                          }
                        })(search_query, page))
                        .append($('<i>').addClass('fa fa-angle-double-right'))
                        .appendTo($('#search_results_navigation_top'))
          var bottom_btn = top_btn.clone(true, true)
                           .appendTo($('#search_results_navigation_bottom'));
        }
        $.each(results, function(ii, item){
          var title = item.title;
          if(item.artist){
            title = [item.artist, item.title].join(' - ');
          }
          var link = $('<a>').text(title)
                             .attr({
                               'title': item.filename,
                               'href': item.download_url
                             })
                             .on('click', (function(song){
                               return function(e){
                                 e.preventDefault();
                                 if(e.ctrlKey){
                                   push_to_queue(song);
                                 } else {
                                   current_song_data = song;
                                   play_song(song);
                                 };
                               }
                             })(item));
          var el = $('<tr>').append($('<td>').append(link));
          $('#search_results_table').append(el)
        })
      }

      // Button Triggers
      $('#play_pause_button').on('click', function(e){
        e.preventDefault();
        if(playing_status==PAUSED){
          $('#play_pause_button > i').removeClass('fa-play')
                                     .addClass('fa-pause');
        } else {
          if(e.ctrlKey){
            stopping_after_current = true;
            return;
          }
          $('#play_pause_button > i').removeClass('fa-pause')
                                     .addClass('fa-play');
        }
        toggle_play();
      });
      $('#next_button').on('click', play_next_song);
      $('#search_button').on('click', function(){
        result = prompt('Search songs:');
        if(result){
          search(result);
        }
      });
      // Keyboard Support
      $('body').on('keydown', function(e){
        if(!e){
          e = window.event;
        }
        var code = e.keyCode;
        if(e.charCode && code == 0){
          code == e.charCode;
        }
        if(e.key=='Spacebar' || code==32){
          $('#play_pause_button').click();
          e.preventDefault();
        } else if(e.key=='Left' || code==37){
          // onPressPrev();
        } else if(e.key=='n' || code==78){
          $('#next_button').click();
        } else if(e.keyCode=="S".charCodeAt(0)) {
          $('#search_button').click();
        }
    })

      load_state();
      if(!current_song_data){
        get_current_info(function(){
          play_song(current_song_data);
        });
      }else{
        play_song(current_song_data);
      }
      if(playing_status==PLAYING){
        $('#play_pause_button > i').removeClass('fa-play')
                                   .addClass('fa-pause');
      } else {
        $('#play_pause_button > i').removeClass('fa-pause')
                                   .addClass('fa-play');
      }
    })
  });
})(jQuery, '{{STATIC_URL}}soundmanagerv297a-20131201/', '{% url 'song_list' %}');
</script>
{% endblock %}