{% extends 'site_base.html' %}
{% load i18n %}
{% load url from future %}

{% block head_title %}Music{% endblock %}

{% block body %}
<div class="row">
  <div class="col-md-12">
      <p>
          <kbd id="current_song_display"></kbd>
      </p>
  </div>
  <div class="col-md-12">
      <div class="btn-group">
          <button id="prev_button" class="btn btn-default">
              <i class="fa fa-backward"></i>
          </button>
          <button id="play_pause_button" class="btn btn-default">
              <i class="fa fa-play"></i>
          </button>
          <button id="next_button" class="btn btn-default">
              <i class="fa fa-forward"></i>
          </button>
      </div>
      <div class="btn-group">
          <button type="button" class="btn btn-default active" id="use_aac_button">AAC</button>
          <button type="button" class="btn btn-default" id="use_mp3_button">MP3</button>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-pills" role="tablist">
      <li class="active"><a id="search_tab" href="#search" role="tab" data-toggle="tab"><i class="fa fa-search"></i> Search</a></li>
      <li><a href="#queue" role="tab" data-toggle="tab"><i class="fa fa-align-left"></i> Queue</a></li>
      <li><a href="#history" role="tab" data-toggle="tab"><i class="fa fa-book"></i> History</a></li>
    </ul>
  </div>
</div>
<div class="row">
<div class="tab-content">
 <div class="tab-pane active" id="search">
  <div class="col-md-12">
      <div class="input-group">
        <input id="search_input" type="text" class="form-control">
        <span class="input-group-btn">
          <button id="start_search_button" class="btn btn-default" type="button">Search <i class="fa fa-search"></i></button>
        </span>
      </div>
      <div id="search_results_navigation_top"></div>
      <table class="table table-striped" id="search_results_table">
      </table>
      <div id="search_results_navigation_bottom"></div>
  </div>
 </div>
 <div class="tab-pane" id="queue">
  <div class="col-md-12">
      <table class="table table-striped" id="play_queue_table">
        <tr><td><i class="fa fa-random"> Random</i></td></tr>
      </table>
  </div>
 </div>
 <div class="tab-pane" id="history">
  <div class="col-md-12">
      <table class="table table-striped" id="play_history_table">
        <tr><td></td></tr>
      </table>
  </div>
</div>
{% endblock %}


{% block extra_script %}
<script src="{{STATIC_URL}}jStorage/0.4.4/jstorage.min.js"></script>
<script>
(function($, SM2_URL, SONGS_API_URL){
  var escapeHTML = function(unsafe) {
    return unsafe.replace(/&/g, "&amp;")
                 .replace(/</g, "&lt;")
                 .replace(/>/g, "&gt;")
                 .replace(/"/g, "&quot;")
                 .replace(/'/g, "&#039;");
  };
  var loadSoundManager = function(sm2_url, onReadyCallback){
    var sm2_swf_path = sm2_url + 'swf/',
        sm2_js_path = sm2_url + 'script/soundmanager2-nodebug-jsmin.js';
    var options = {
      url: sm2_swf_path,
      useHighPerformance: true,
      useHTML5Audio: true,
      preferFlash: true,
      flashVersion: 9,
      flashPollingInterval: 100,
      debugMode: true,
      onready: onReadyCallback,
      ontimeout: function() {}
    };
    if(typeof soundManager !== "undefined"){
      soundManager.reset();
      soundManager.setup(options);
    } else {
      $.getScript(
        sm2_js_path,
        function(){
          soundManager.setup(options);
        }
      );
    }
  };

  $(window).load(function(){
    loadSoundManager(SM2_URL, function(){
      var PLAYING = 1;
      var PAUSED = 0;
      var HISTORY_MAX_LENGTH = 20;
      var SEARCH_RESULTS_PER_PAGE = 20;
      var playing_status = PAUSED;
      var stopping_after_current = false;
      var song_count = 0;
      var current_index = 1;
      var current_song_data = null;
      var play_history = [];
      var play_queue = [];
      var prefer_aac = true;

      var save_state = function(){
        $.jStorage.set('nickelodeon_playing_status',
                       JSON.stringify(playing_status));
        $.jStorage.set('nickelodeon_current_song_data',
                       JSON.stringify(current_song_data));
        $.jStorage.set('nickelodeon_song_count',
                       JSON.stringify(song_count));
        $.jStorage.set('nickelodeon_current_index',
                       JSON.stringify(current_index));
        $.jStorage.set('nickelodeon_stopping_after_current',
                       JSON.stringify(stopping_after_current));
        $.jStorage.set('nickelodeon_play_history',
                       JSON.stringify(play_history));
        $.jStorage.set('nickelodeon_play_queue',
                       JSON.stringify(play_queue));
        $.jStorage.set('nickelodeon_prefer_aac',
                       JSON.stringify(prefer_aac));
      };

      var load_state = function(){
        playing_status = parseInt($.jStorage.get('nickelodeon_playing_status', PAUSED));
        current_index = $.jStorage.get('nickelodeon_current_index', 1);
        current_index = parseInt(current_index);
        if(current_index<1){
          current_index = 1;
        }
        song_count = $.jStorage.get('nickelodeon_song_count', 0);
        song_count = parseInt(song_count);
        current_song_data = JSON.parse($.jStorage.get('nickelodeon_current_song_data', "null"));
        stopping_after_current = $.jStorage.get('nickelodeon_stopping_after_current', false);
        if (stopping_after_current == "false"){
          stopping_after_current = false;
        } else {
          stopping_after_current = true;
        }
        prefer_aac = $.jStorage.get('nickelodeon_prefer_aac', true);
        if (prefer_aac == "false"){
          prefer_aac = false;
        } else {
          prefer_aac = true;
        }
        play_queue = JSON.parse($.jStorage.get('nickelodeon_play_queue', '[]'));
        play_history = JSON.parse($.jStorage.get('nickelodeon_play_history', '[]'));
        display_history();
        display_queue();
      };
      
      var push_to_queue = function(value){
        play_queue.push(value);
        save_state();
        display_queue();
      };

      var remove_from_queue = function(value){
        var index= play_queue.indexOf(value);
        if(index > -1) {
          play_queue.splice(index, 1);
        }
        save_state();
        display_queue();
      };

      var shift_queue = function(){
        var value = play_queue.shift();
        save_state();
        display_queue();
        return value;
      };

      var push_to_history = function(value){
        play_history.push(value);
        while(play_history.length > HISTORY_MAX_LENGTH){
          play_history.shift()
        }
        save_state();
        display_history();
      };

      var pop_history = function(){
        var value = play_history.pop();
        save_state();
        display_history();
        return value;
      };
      
      var play_song = function(song_data){
        var format, type, title, page_title;
        auto_play = (playing_status==PLAYING)?true:false;
        stop_song();
        playing_status = auto_play?PLAYING:PAUSED;
        save_state()
        if(song_data.availability['aac'] && (prefer_aac || !song_data.availability['mp3'])){
            format = 'aac'
            type = 'audio/aac'
        } else if(song_data.availability['mp3']){
            format = 'mp3'
            type = 'audio/mpeg'
        } else {
            play_next_song();
            return;
        }
        soundManager.createSound({
            id: song_data.uuid,
            url: song_data.download_url+'.'+format,
            volume: 100,
            autoPlay: auto_play,
            type: type,
            multiShot:false,
            onfinish:function(){
              if(stopping_after_current){
                stopping_after_current = false;
                playing_status = PAUSED;
                play_song(current_song_data);
                save_state();
                return
              }
              play_next_song();
            },
        });
        if(song_data.artist){
            title = [song_data.artist, song_data.title].join(" - ")
        } else {
            title = song_data.title;
        }

        page_title = (playing_status==PLAYING?"\u25B6 ":"")+title
        document.title = page_title

        $('#current_song_display').text(title);
        if(format == 'aac'){
            $('#use_aac_button').addClass('active');
            $('#use_mp3_button').removeClass('active');
        }else{
            $('#use_aac_button').removeClass('active');
            $('#use_mp3_button').addClass('active');
        }
        if(!song_data.availability['aac']){
            $('#use_aac_button').attr('disabled', 'disabled');
        } else {
            $('#use_aac_button').removeAttr('disabled');
        }
        if(!song_data.availability['mp3']){
            $('#use_mp3_button').attr('disabled', 'disabled');
        } else {
            $('#use_mp3_button').removeAttr('disabled');
        }
      };

      var jump_to_song = function(song){
        stopping_after_current = false;
        push_to_history(current_song_data);
        current_song_data = song;
        play_song(song)
      }

      var stop_song = function(){
        soundManager.stopAll();
        while(soundManager.soundIDs.length>0){
            soundManager.destroySound(soundManager.soundIDs[0]);
        }
        playing_status = PAUSED;
        save_state();
      };
      
      var play_prev_song = function(){
        stopping_after_current = false;
        play_queue.unshift(current_song_data);
        save_state();
        display_queue()
        if(play_history.length > 0){
          var next_song = play_history.pop();
          current_song_data = next_song;
          play_song(next_song);
          save_state();
          display_history()
          return;
        }
        current_index = Math.floor(Math.random()*song_count)+1;
        save_state();
        soundManager.stopAll();
        while(soundManager.soundIDs.length>0){
            soundManager.destroySound(soundManager.soundIDs[0]);
        }
        get_current_info(function(){
          play_song(current_song_data);
        });
      };

      var play_next_song = function(){
        stopping_after_current = false;
        push_to_history(current_song_data);
        if(play_queue.length>0){
          var next_song = shift_queue();
          current_song_data = next_song;
          play_song(next_song);
          return;
        }
        current_index = Math.floor(Math.random()*song_count)+1;
        save_state();
        soundManager.stopAll();
        while(soundManager.soundIDs.length>0){
            soundManager.destroySound(soundManager.soundIDs[0]);
        }
        get_current_info(function(){
          play_song(current_song_data);
        });
      };
      
      var toggle_play = function(){
        var sound_id = soundManager.soundIDs[0];
        var sound = soundManager.getSoundById(sound_id)
        if(sound){
          var is_playing = !sound.paused && sound.playState!=0;
          playing_status = is_playing?PAUSED:PLAYING;
        }
        soundManager.togglePause(sound_id);
        save_state();
      };
      
      var get_current_info = function(callback){
        $.ajax({
          type: "GET",
          url: SONGS_API_URL,
          data: {'results_per_page': 1, 'page': Math.max(1, current_index)},
          dataType: "JSON",
          success: function(response){
              song_count = response.count;
              if(song_count > 0){
                  current_song_data = response.results[0];
                  save_state();
                  callback();
              }
          },
          error: function(){
            console.log('AJAX failure...')          
          }
        });
      };

      var search = function(search_query, page){
        page = page || 1
        if(search_query){
            $.ajax({
                type:"GET",
                url:SONGS_API_URL,
                data:{
                    'q':search_query,
                    'page':Math.max(page, 1),
                    'results_per_page': SEARCH_RESULTS_PER_PAGE
                },
                dataType:"JSON",
                success:on_search_results,
                error:function(){
                }
            });
        }
      };

      var extract_search_query_from_link = function(link){
        var query_re = /(\?|&)q=([^&]+)/;
        var matches = link.match(query_re)
        if(matches){
          return decodeURIComponent(matches[2]);
        }
        return ''
      };

      var extract_page_from_link = function(link){
        var page_re = /(\?|&)page=([\d]+)/;
        var matches = link.match(page_re)
        if(matches){
          return matches[2]
        }
        return 1
      };

      var on_search_results = function(response){
        var results = response.results;
        var search_query = '';
        var page = 1;
        var current_page = 1;
        $('#search_results_navigation_top').html('');
        $('#search_results_navigation_bottom').html('');
        $('#search_results_table').html('');
        if(response.previous){
          search_query = extract_search_query_from_link(response.previous);
          page = extract_page_from_link(response.previous);
          current_page = parseInt(page)+1;
          var top_btn = $('<button>').addClass('btn btn-default')
                        .attr('href', '#')
                        .on('click', (function(q, p){
                          return function(e){
                            e.preventDefault();
                            search(q, p);
                          }
                        })(search_query, page))
                        .append($('<i>').addClass('fa fa-angle-double-left'))
                        .appendTo($('#search_results_navigation_top'))
          var bottom_btn = top_btn.clone(true, true)
                                  .appendTo($('#search_results_navigation_bottom'));
        }
        if(response.next){
          search_query = extract_search_query_from_link(response.next);
          page = extract_page_from_link(response.next);
          current_page = parseInt(page)-1;
          var top_btn = $('<button>').addClass('btn btn-default')
                        .attr('href', '#')
                        .on('click', (function(q, p){
                          return function(e){
                            e.preventDefault();
                            search(q, p);
                          }
                        })(search_query, page))
                        .append($('<i>').addClass('fa fa-angle-double-right'))
                        .appendTo($('#search_results_navigation_top'))
          var bottom_btn = top_btn.clone(true, true)
                           .appendTo($('#search_results_navigation_bottom'));
        }
        if(results.length==0){
          var link = $('<span>').text("No results...")
          var el = $('<tr>').append($('<td>').append(link));
          $('#search_results_table').append(el)
        } else {
          $.each(results, function(ii, item){
            var title = item.title;
            if(item.artist){
              title = [item.artist, item.title].join(' - ');
            }
            var link = $('<a>').text(title)
                               .attr({
                                 'title': item.filename,
                                 'href': item.download_url
                               })
                               .on('click', (function(song){
                                 return function(e){
                                   e.preventDefault();
                                   if(e.ctrlKey){
                                     push_to_queue(song);
                                   } else {
                                     jump_to_song(song);
                                   };
                                 }
                               })(item));
            var el = $('<tr>').append($('<td>').append(link));
            $('#search_results_table').append(el)
          });
        }
      };

      // Button Triggers
      $('#play_pause_button').on('click', function(e){
        e.preventDefault();
        if(playing_status==PAUSED){
          $('#play_pause_button > i').removeClass('fa-play')
                                     .addClass('fa-pause');
        } else {
          if(e.ctrlKey){
            stopping_after_current = true;
            return;
          }
          $('#play_pause_button > i').removeClass('fa-pause')
                                     .addClass('fa-play');
        }
        toggle_play();
      });


      $('#next_button').on('click', play_next_song);
      $('#prev_button').on('click', play_prev_song);

      var start_search = function(){
        var result = $('#search_input').val();
        if(result){
          search(result);
        }
      };

      var display_queue = function(){
        $('#play_queue_table').html('');
        $.each(play_queue, function(ii, item){
          var title = item.title;
          if(item.artist){
            title = [item.artist, item.title].join(' - ');
          }
          var link = $('<a>').text(title)
                             .attr({
                               'title': item.filename,
                               'href': item.download_url
                             })
                             .on('click', (function(song){
                               return function(e){
                                 if(!e){
                                   e = window.event;
                                 }
                                 e.preventDefault();
                                 if(e.ctrlKey){
                                   remove_from_queue(song);
                                 } else {
                                   jump_to_song(song);
                                 };
                               }
                             })(item));
          var el = $('<tr>').append($('<td>').append(link));
          $('#play_queue_table').append(el)
        });
        var el = $('<tr>').append($('<td>').html('Random <i class="fa fa-random"></i>'));
        $('#play_queue_table').append(el)
      };

      var display_history = function(){
        $('#play_history_table').html('');
        var play_history_copy = play_history.slice(0).reverse();
        $.each(play_history_copy, function(ii, item){
          var title = item.title;
          if(item.artist){
            title = [item.artist, item.title].join(' - ');
          }
          var link = $('<a>').text(title)
                             .attr({
                               'title': item.filename,
                               'href': item.download_url
                             })
                             .on('click', (function(song){
                               return function(e){
                                 e.preventDefault();
                                 jump_to_song(song);
                               }
                             })(item));
          var el = $('<tr>').append($('<td>').append(link));
          $('#play_history_table').append(el)
        });
      };

      $('#start_search_button').on('click', start_search);
      $('#search_input').on('keyup', function(e){
        if(e.keyCode == 13){
          start_search();
        }
      });

      $('#use_aac_button').on('click', function(){
        if(!prefer_aac){
          prefer_aac = true;
          play_song(current_song_data);
        }
      });
      $('#use_mp3_button').on('click', function(){
        if(prefer_aac){
          prefer_aac = false;
          play_song(current_song_data);
        }
      });

      // Keyboard Support
      $('body').on('keydown', function(e){
        if($('#search_input').is(":focus")){
          return;
        }
        if(!e){
          e = window.event;
        }
        var code = e.keyCode;
        if(e.charCode && code == 0){
          code == e.charCode;
        }
        if(e.key=='Spacebar' || code==32){
          $('#play_pause_button').click();
          e.preventDefault();
        } else if(e.key=='b' || code==66){
          $('#prev_button').click();
        } else if(e.key=='n' || code==78){
          $('#next_button').click();
        } else if(e.keyCode=="S".charCodeAt(0)) {
          $('#search_tab').tab('show');
          if(!$('#search_input').is(":focus")){
            e.preventDefault();
            $('#search_input').focus()
          }
        }
      });

      load_state();
      if(!current_song_data){
        get_current_info(function(){
          play_song(current_song_data);
        });
      }else{
        play_song(current_song_data);
      }
      if(playing_status==PLAYING){
        $('#play_pause_button > i').removeClass('fa-play')
                                   .addClass('fa-pause');
      } else {
        $('#play_pause_button > i').removeClass('fa-pause')
                                   .addClass('fa-play');
      }
    })
  });
})(jQuery, '{{STATIC_URL}}soundmanagerv297a-20131201/', '{% url 'song_list' %}');
</script>
{% endblock %}